{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}
{% block title %}Home{% endblock %}
{% block content %}

<div class="container crisp-logos">
    <div class="row justify-content-center">
        <div class="col-md-6 text-center">
            <img src="{{ 'https://asset.brandfetch.io/idvmY8BeFn/idH3EjrqxE.png' }}" alt="Tayto Logo" class="mt-4 img-fluid tayto-logo">
            <form method="post">
                {% csrf_token %}
                <table class="table table-bordered table-responsive bg-light text-dark mt-4">
                    <thead>
                        <tr>
                            <th>Qty</th>
                            <th>Name</th>
                            <th>Weight</th>
                            <th>Case</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for product in products %}
                        <tr>
                            <td>
                                <select name="quantity_{{ product.pk }}" required>
                                    <option value="0">0</option>
                                    {% for i in 1|to:10 %}
                                    <option value="{{ i }}">{{ i }}</option>
                                    {% endfor %}
                                </select>
                                <input type="hidden" name="product_id_{{ product.pk }}" value="{{ product.pk }}">
                            </td>
                            <td>{{ product.name }}</td>
                            <td>{{ product.weight }}g</td>
                            <td>{{ product.caseCount }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <button type="submit" class="btn btn-primary btn-block">Submit Order</button>
            </form>
        </div>
    </div>
</div>

<div class="container">
    
</div>
{% endblock %}
