{% extends 'base.html' %}
{% load static %}
{% block title %}Home{% endblock %}
{% block content %}

<div class="container crisp-logos">
    <div class="row justify-content-center ">
        <div class="col-md-6 text-center">
            <a href="{% url 'logout' %}" class="btn btn-danger mb-4 btn-block">
            Logout
            </a>
        </div>
    </div>
   
    <div class="row justify-content-center ">
        <a href="{% url 'saved_orders' %}" class="btn btn-primary order-management btn-block">Saved Orders  <i class="fa-solid fa-arrow-right fa-fade fa-lg" style="color: #ffffff;"></i></a>
    </div>
     <div class="row justify-content-center ">
        <a href="{% url 'upload_products' %}" class="btn btn-primary order-management mt-2 btn-block">Upload Products to database <i class="fa-solid fa-arrow-right fa-fade fa-lg" style="color: #ffffff;"></i></a>
     </div>
    <div class="row justify-content-center">
        <div class="col-md-6 text-center">
            <a href="{% url 'tayto' %}">
                <img src="{{ 'https://res.cloudinary.com/drmbgol8n/image/upload/v1719244328/tayto-logo_xlilvg.jpg' }}" alt="Tayto Logo" class=" mt-4 img-fluid tayto-logo border border-light">
            </a>
        </div>
        <div class="col-md-6 text-center">
            <a href="{% url 'walkers' %}">
                <img src="{{ 'https://res.cloudinary.com/drmbgol8n/image/upload/v1719244284/walkers-logo_t6cen8.jpg' }}" alt="Tayto Logo" class="mt-4 walkers-logo img-fluid border border-light">
            </a>
        </div>
        <div class="col-md-6 text-center">
            <a href="{% url 'tayto' %}">
                <img src="{{ 'https://asset.brandfetch.io/idTb8IQVqQ/id0mI0KODd.png' }}" alt="Tayto Logo" class=" mt-4 img-fluid tayto-logo border border-light bg-light">
            </a>
            <hr>
            <hr>
            <hr>
            <hr>
        </div>
    </div>
</div>
<hr>
<hr>



{% endblock %}